* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

.topbar {
    background-color: black;
    color: white;
    padding: 10px;
    text-align: center;
    font-size: 18px;

}

.cards{
  display:flex;
  gap:8px;
  flex-wrap:wrap;
  justify-content:center;
  margin: 20px;
  background-color: rgb(210, 203, 203);
  border-radius: 15px;
    padding: 20px;
}

.card {
    text-align: center;
    padding: 30px 20px 30px 20px;
    background-color: white;
    border-radius: 15px;
    min-width: 250px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: relative;
    margin: 10px;
}

.badge {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: rgb(221, 45, 45);
    color: white;
    padding: 5px 10px;
    font-size: 12px;
    border-radius: 5px;
    animation: pulse 2s infinite;
    border-radius: 10px;
}

@keyframes pulse {
    0% {
        transform: scale(1);
        opacity: 1;
    }
    50% {
        transform: scale(1.1);
        opacity: 0.9;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

.icon{
    font-size: 50px;
    margin-bottom: 15px;
    animation: float 3s ease-in-out infinite;
}
@keyframes float {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
}

article h2 {
    font-size: 22px;
    margin-bottom: 10px;
    color: rgb(0, 0, 0);
}

.desc{
    color: rgb(80, 78, 78);
    font-size: 15px;
    margin: 0 6px 6px;
    min-height: 40px;
}

.price {
    color: green;
    font-weight: 800;
    font-size: 24px;
    margin-bottom: 14px;
}

.btn {
    margin-top: auto;
    background: rgb(57, 150, 244);
    border: none;
    color: white;
    padding: 12px 28px;
    border-radius: 28px;
    font-weight: 700;
    cursor: pointer;
    box-shadow: 0 6px 12px black 50px;
}

.desc {
    color: rgb(80, 78, 78);
    font-size: 15px;
    max-width: 250px;
}